sudo: required
dist: trusty
language: node_js
node_js:
  - "7"
cache: yarn
apt:
  sources:
    - google-chrome
  packages:
    - google-chrome-stable

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script: ./node_modules/.bin/ng test --single-run --code-coverage --no-progress
after_success:
  - bash <(curl -s https://codecov.io/bash)
  - bash yarn.sh
  - bash ghpages.sh
