<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 col-sm-12">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="toastTitle">Title</label>
                <input [(ngModel)]="title" type="text" class="form-control" id="toastTitle" placeholder="Toast title">
              </div>
              <div class="form-group">
                <label for="toastMessage">Message</label>
                <textarea [(ngModel)]="message" rows="3" class="form-control" id="toastMessage" placeholder="Toast message"></textarea>
              </div>

              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="options.enableHtml"> Enable Html
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="options.tapToDismiss"> Tap to dismiss
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="options.closeButton"> Close button
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="options.preventDuplicates"> Prevent duplicates
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="options.newestOnTop"> New toasts on top
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="options.progressBar"> Progress bar
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="toastTimeout">Timeout</label>
                <input [(ngModel)]="options.timeOut" type="text" class="form-control" id="toastTimeout" aria-describedby="toastTimeoutHelp">
                <small id="toastTimeoutHelp" class="form-text text-muted">0 never expires</small>
              </div>
              <div class="form-group">
                <label for="maxNumberToasts">Maximum Toasts</label>
                <input [(ngModel)]="toastrService.toastrConfig.maxOpened" type="text" class="form-control" id="maxNumberToasts" aria-describedby="maxNumberToastsHelp">
                <small id="maxNumberToastsHelp" class="form-text text-muted">0 is no limit</small>
              </div>
              <div class="form-group">
                <label for="toastExtendedTimeout">Extended Timeout</label>
                <input type="text" [(ngModel)]="toastrService.toastrConfig.extendedTimeOut" class="form-control" id="toastExtendedTimeout">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" [(ngModel)]="toastrService.toastrConfig.autoDismiss"> Auto dismiss on max
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <fieldset class="form-group">
                <label>Toast type</label>
                <div class="radio">
                  <label>
                    <input type="radio" name="typeRadios" [(ngModel)]="type" value="success">
                    Success
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="typeRadios" [(ngModel)]="type" value="info">
                    Info
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="typeRadios" [(ngModel)]="type" value="warning">
                    Warning
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="typeRadios" [(ngModel)]="type" value="error">
                    Error
                  </label>
                </div>
              </fieldset>
              <fieldset class="form-group">
                <label>Toast position</label>
                <div class="radio">
                  <label>
                    <input type="radio" name="positionRadio" [(ngModel)]="options.positionClass" value="toast-top-right">
                    Top Right
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="positionRadio" [(ngModel)]="options.positionClass" value="toast-bottom-right">
                    Bottom Right
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="positionRadio" [(ngModel)]="options.positionClass" value="toast-bottom-left">
                    Bottom Left
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="positionRadio" [(ngModel)]="options.positionClass" value="toast-top-left">
                    Top Left
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="positionRadio" [(ngModel)]="options.positionClass" value="toast-top-full-width">
                    Top Full Width
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="positionRadio" [(ngModel)]="options.positionClass" value="toast-bottom-full-width">
                    Bottom Full Width
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="positionRadio" [(ngModel)]="options.positionClass" value="toast-top-center">
                    Top Center
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="positionRadio" [(ngModel)]="options.positionClass" value="toast-bottom-center">
                    Bottom Center
                  </label>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button (click)="openToast()" class="btn btn-primary">Open Toast</button>
              <button (click)="clearLastToast()" class="btn btn-secondary">Clear Last Toast</button>
              <button (click)="clearToasts()" class="btn btn-secondary">Clear All Toasts</button>
              <button (click)="openPinkToast()" class="btn btn-pink">Custom Pink Toast</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      Demo using <a href="https://angular.io/">Angular</a> {{ version.full }}
    </div>
  </div>
</div>
