:host {
  background-color: #ff69b4;
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 10px 10px 10px 10px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  color: #ffffff;
  pointer-events: all;
  cursor: pointer;

  &.animate-pink-in {
    animation: pink-in 400ms ease-out;
  }

  &.animate-pink-out {
    animation: pink-out 400ms ease-out;
  }
}

.btn-pink {
  backface-visibility: hidden;
  transform: translateZ(0);
}

@keyframes pink-out {
  from {
    opacity: 1;
  };
  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes pink-in {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0) skewX(-30deg);
  }
  25% {
    transform: skewX(20deg);
    opacity: 1;
  }
  50% {
    transform: skewX(-5deg);
    opacity: 1;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
