$font-size-root: 14px;
@import 'node_modules/bootstrap/scss/bootstrap';

.card {
  margin-top: 15px;
}
.btn-pink {
  color: #FFFFFF;
  background-color: #FA39C3;
  border-color: #F013B1;
}

.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active,
.open .dropdown-toggle.btn-pink {
  color: #FFFFFF;
  background-color: #B31085;
  border-color: #F013B1;
}
