@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
$enable-shadows: true;
$enable-gradients: true;
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

@import "notyf.css";

.normal {
  @import "lib/toastr.css";
}
.bootstrap {
  @import "lib/toastr-bs4-alert";
}

body {
  background-color: #fcfcfc;
}
strong {
  font-weight: 500;
}

.btn {
  cursor: pointer;
}

.btn-pink {
  color: #FFFFFF;
  background-color: $pink;
  border-color: $pink;
  background: $pink linear-gradient(180deg, $pink, darken($pink, 10%)) repeat-x;
  border-color: $pink;
}
.btn-pink:hover {
  background-color: darken($pink, 10%);
  background: darken($pink, 10%) linear-gradient(180deg, darken($pink, 5%), darken($pink, 15%)) repeat-x;
  border-color: darken($pink, 10%);
}

.toast-container.inline {
  position: relative;
}
